<ion-tabs (ionTabsWillChange)="transition($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="news">
      <ion-icon name="today"></ion-icon>
      <ion-label>Today</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="games">
      <ion-icon name="rocket"></ion-icon>
      <ion-label>Games</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="apps">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Apps</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="updates">
      <ion-icon name="download"></ion-icon>
      <ion-label>Updates</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
